# Python cache files — automatically banti hain, zaroorat nahi upload ki
__pycache__/
*.pyc

# Virtual environment — bahut bada folder, GitHub pe nahi chahiye
venv/
.venv/

# Secret API keys — KABHI bhi GitHub pe mat daalna
.env

# Windows system files
Thumbs.dbs

logs/
cache_store.jsonchroma_db/
